.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:#020617;
position:sticky;
top:0;
z-index:1000;
}

.logo{
color:white;
font-size:22px;
}

.nav-links{
display:flex;
gap:30px;
}

.nav-links a{
color:white;
text-decoration:none;
position:relative;
}

.nav-links a::after{
content:"";
position:absolute;
left:0;
bottom:-5px;
width:0%;
height:2px;
background:#38bdf8;
transition:0.3s;
}

.nav-links a:hover::after{
width:100%;
}

.nav-icons{
display:flex;
gap:15px;
align-items:center;
}

.menu-btn{
display:none;
font-size:25px;
cursor:pointer;
color:white;
}

.theme-btn{
background:none;
border:none;
font-size:18px;
cursor:pointer;
color:white;
}

@media(max-width:768px){

.nav-links{
position:absolute;
top:70px;
left:0;
background:#020617;
flex-direction:column;
width:100%;
display:none;
padding:20px;
}

.nav-links.active{
display:flex;
}

.menu-btn{
display:block;
}

}